<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="index-container">
        <h1>Welcome to Bibliora!</h1>
        <p>Select a route:</p>
        <ul class="navigation-list">
            <li><a href="{{ url_for('get_user') }}" class="button">Get Users</a></li>
            <li><a href="{{ url_for('get_books') }}" class="button">Get Books</a></li>
            <li><a href="{{ url_for('get_bookclubs') }}" class="button">Get Book Clubs</a></li>
            <li><a href="{{ url_for('get_books', user_id=user_id) }}" class="button">User's Books</a></li>
            <li><a href="{{ url_for('get_bookclubs', user_id=user_id) }}" class="button">User's Book Clubs</a></li>
            {% if is_admin %}
            <li><a href="{{ url_for('admin_page') }}" class="button">Admin Page</a></li>
            {% endif %}
        </ul>
        <p>
            {% if user_id %}
            Your Google ID: {{ user_id }}
            {% if is_admin %}
            (You are an Admin)
            {% else %}
            (You are not an Admin)
            {% endif %}
            {% else %}
            User ID not found.
            {% endif %}
        </p>

        <p id="session-timer">Session expires in: <span id="time-left">10m</span></p>
        <button onclick=handleLogout() class="button">Logout</button>
    </div>

    <script>
        function handleLogout() {
            window.location.href = "{{ url_for('logout') }}";
        }

        document.addEventListener("DOMContentLoaded", () => {
            let timeLeft = 600
            const timerElement = document.getElementById("time-left");

            function updateTimer() {
                if (timeLeft <= 0) {
                    window.location.href = "/logout";
                } else {
                    const minutes = Math.floor(timeLeft / 60);
                    const seconds = timeLeft % 60;
                    timerElement.textContent = `${minutes}m ${seconds}s`;
                    timeLeft--;
                }
            }
            setInterval(updateTimer, 1000);
        });
    </script>
</body>

</html>