/* profile.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

h1, h2 {
    margin: 0.5rem 0;
}

main {
    padding: 1rem;
}

.profile-info, .reading-list, .book-club {
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info img.profile-picture {
    display: block;
    margin: 0 auto 1rem;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.button{
    display: block;
    width: 10%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.book-club button {
    display: block;
    width: 10%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.joined-book-club{
    display: block;
    align-items: center;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.profile-actions button {
    display: inline-block;  
    width: 10%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul li strong {
    display: block;
    margin-bottom: 0.5rem;
}

ul li::before {
    content: "📖";
    font-size: 2rem;
    margin-right: 0.5rem;
}

strong {
    display: inline-block;
    width: 100px;
}